@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 192 37% 92%;
    --foreground: 195 15% 5%;
    --card: 192 37% 92%;
    --card-foreground: 195 15% 5%;
    --popover: 192 37% 92%;
    --popover-foreground: 195 15% 5%;
    --primary: 191 58% 28%;
    --primary-foreground: 192 37% 92%;
    --secondary: 190 79% 70%;
    --secondary-foreground: 195 15% 5%;
    --muted: 193 37% 20%;
    --muted-foreground: 196 15% 70%;
    --accent: 190 100% 42%;
    --accent-foreground: 195 15% 5%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 195 15% 5%;
    --border: 193 37% 20%;
    --input: 193 37% 20%;
    --ring: 190 100% 40%;
    --radius: 0.5rem;

    /* Chart colors */
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 192 37% 8%;
    --foreground: 195 14% 95%;
    --card: 192 37% 8%;
    --card-foreground: 195 14% 95%;
    --popover: 192 37% 8%;
    --popover-foreground: 195 14% 95%;
    --primary: 191 58% 72%;
    --primary-foreground: 192 37% 8%;
    --secondary: 190 79% 30%;
    --secondary-foreground: 195 14% 95%;
    --muted: 193 37% 80%;
    --muted-foreground: 195 14% 95%;
    --accent: 190 100% 58%;
    --accent-foreground: 192 37% 8%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 197 14% 10%;
    --border: 192 37% 60%;
    --input: 193 37% 80%;
    --ring: 190 100% 60%;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground overflow-hidden;
  }

  .section-heading {
    @apply font-bold underline mb-4;
  }

  .draggable-form-field {
    @apply !border !border-border/20 !items-center !flex !cursor-pointer !rounded-lg !mb-2 !py-2 !px-4 !min-h-[54px];
  }
}
